.home__container {
  max-height: 100vh;
  display: flex;
  .navbar {
    overflow-y: scroll;
    min-height: 100%;
    max-width: 20%;
    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
  .mobile__navbar {
    display: none;

    @media only screen and (max-width: 1000px) {
      display: block;
    }
  }

  .datasheet {
    max-height: 100%;
    overflow-y: scroll;
    width: 80%;
    .admin__body__data {
      // overflow-y: scroll;
      min-width: 80%;
    }
  }
  .dashboard {
    max-height: 100%;
    overflow-y: scroll;
    width: 100%;
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
  }
  .pricing {
    max-height: 100vh;
    overflow-y: scroll;
    width: 100%;
    @media only screen and (max-width: 1000px) {
      width: 100%;
    }
  }
}
