.sb__container {
  padding: 2rem;
  max-width: 300px;
  //   margin: 2rem;
  .ac__1 {
    margin-bottom: 1.5rem;

    .MuiOutlinedInput-notchedOutline{
      border: 1px solid rgba(75, 173, 136, 0.3) !important;
      
  
    }
   
    .MuiOutlinedInput-notchedOutline {
    border: 1px solid rgba(75, 173, 136, 0.3);
    }
    .MuiOutlinedInput-root {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.4375em;
      letter-spacing: 0.00938em;
      color: rgba(0, 0, 0, 0.568);
      box-sizing: border-box;
      position: relative;
      // cursor: text;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      position: relative;
      border-radius: 5px;
      background: #FFFFFF;
      box-shadow: 0 4px 15px rgba(52, 122, 240, 0.1);
      border: none;
      padding: 8px 12px;
      outline: none;
    }
  }
  .sb__body {
    .body__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__para {
        font-weight: 600;
        color: gray;
      }
    }
    .body__box__img1 {
      //   padding: 18px 10px;
      height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      border: none;
      outline: none;
      background-color: rgba(249, 249, 249, 1);
      box-shadow: inset 0 0 10px rgba(128, 128, 128, 0.062);
      border-radius: 8px;
      margin: 2rem 0px;
      .img1__btn {
        background-color: rgba(75, 173, 136, 1);
        border-radius: 5px;
        height: 35px;
        font-size: 13px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 600;
      }
    }
    .body__box4 {
      padding: 18px 10px;
      padding-bottom: 0;
      height: 170px;
      font-size: 14px;

      width: 280px;
      border: none;
      outline: none;
      background-color: rgba(249, 249, 249, 1);
      box-shadow: inset 0 0 10px rgba(128, 128, 128, 0.062);
      border-radius: 8px;
      margin-top: 6px;
      margin-bottom: 2rem;
      color: gray;
    }
    .box4__heading {
      font-weight: 600;
      color: gray;
    }
  }

  
.img__label{
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 2rem;

  label{
    background-color: rgba(75, 173, 136, 1);
    border-radius: 5px;
    height: 35px;
    font-size: 13px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
     }
}

.image{
  height: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      border: none;
      outline: none;
      background-color: rgba(249, 249, 249, 1);
      box-shadow: inset 0 0 10px rgba(128, 128, 128, 0.062);
      border-radius: 8px;
      margin: 2rem 0px;
}






input[type="file"] {
  display: none;
}
}


.input__box4 {
  padding: 10px 10px;
  // padding-bottom: 0;
  height: 170px;
  font-size: 14px;
  width: 280px;
  border: none;
  outline: none;
  background-color: rgba(249, 249, 249, 1);
  box-shadow: inset 0 0 10px rgba(128, 128, 128, 0.062);
  border-radius: 8px;
  margin-top: 6px;
  margin-bottom: 2rem;
  color: gray;
}