.footer__container {
  .footer__data {
    padding: 2rem 1rem;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: flex-end;
    color: gray;
    .data__number {
      display: flex;
      align-items: center;
      justify-content: center;
      .number {
        font-size: 11px;
        margin-right: 5px;
        // margin-right: 4px;
        // margin-bottom: 10px;
      }
      .number__icon {
        height: 5px;
      }
    }

    .para1 {
      margin: 0 1rem;
    }
    .data__para1 {
      font-size: 11px;
      margin: 0 1rem;
    }
    .back__icon {
      margin: 0 10px;
      height: 10px;
    }
  }
}
